@model IEnumerable<ProjetGestionHotel1.Models.categorie>


@{


    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";

}


<!-- END nav -->
<div class="hero">

    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(/Content/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text mb-5 pb-5">
                            <h1 class="mb-3">A & N</h1>
                            <h2>More than a hotel... an experience</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(/Content/images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center">
                    <div class="col-md-8 ftco-animate">
                        <div class="text mb-5 pb-5">
                            <h1 class="mb-3">Experience Epic Beauty</h1>
                            <h2>A & N Hotel &amp; Resort</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<section class="ftco-section bg-light ftco-room">
    <div class="container-fluid px-0">
        <div class="row no-gutters justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">A & N Rooms</span>
                <h2 class="mb-4">Hotel Master's Rooms</h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="room-wrap">
                    <div class="img d-flex align-items-center" style="background-image: url(/Content/images/bg_3.jpg);">
                        <div class="text text-center px-4 py-4">
                            <h2>Welcome to <a href="index.html"> A & N</a></h2>

                        </div>
                    </div>
                </div>
            </div>

            @{ Html.RenderAction("CategorieListeHome", "Categorie");}



        </div>
    </div>
</section>



<div class="row">
    <div class="col">
        @{Html.RenderAction("Index", "commentaires");}
    </div>
    <div class="col" style="margin-right:10px;">
        @if (Session["user"] != null)
        {
            Html.RenderAction("Create", "commentaires");
        }
    </div>


</div>





